
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

.activeTab {
  background: rgba(205, 182, 255, 0.21);
}

.activeTab > span {
  color: #9D76F0;
}

.activeTab > img {
  opacity: 1;
}

#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Quicksand', sans-serif;
}

.task-form {
  height: 100%;
  width: 100%;
  background-color: rgba(114, 108, 108, 0.322);
  position: absolute;
  z-index: 1000;
}

.task-form > form {
  height: 18rem;
  width: 24rem;
  border: 1px solid;
  position: relative;
  left: calc(50% - 12rem);
  top: calc(50% - 9rem);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.navbar > nav {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.navbar > button {
  height: 2.5rem;
  width: 12rem;
  background: #9D76F0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 13px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #fff;
  transition: background-color .5s ease;
}

.navbar > button:hover {
  background: rgb(227, 222, 240);
  color: #9D76F0;
}
